.members-bp-memberpress-upgrade {
	background-color: #f5f5f5;
	padding: 20px;
	margin-bottom: 20px;
}

.members-bp-memberpress-upgrade__cta-button {
	background-color: #06429e;
	color: #fff;
	text-decoration: none;
	border-radius: 300px;
	margin: 20px auto 0;
	width: auto;
	text-align: center;
	max-width: 200px;
	padding: 10px;
	display: block;
	height: auto;
}

.members-bp-memberpress-upgrade__cta-button:hover {
	color: #fff;
}