###
#
# This workflow file is deployed into this repository via the "Sync Project Automation Organization File" workflow
#
# Direct edits to this file are at risk of being overwritten by the next sync. All edits should be made
# to the source file.
#
# @see Sync workflow {@link https://github.com/caseproof/org-admin/blob/main/.github/workflows/workflow-project-automation-sync.yml}
# @see Workflow template {@link https://github.com/caseproof/org-admin/blob/main/.github/templates/workflow/project-automation.yml}
#
###
name: Project Automation

on:
  issues:
    types:
      - opened
      - reopened

jobs:
  project-automation:
    name: Run Project Automation
    runs-on: runs-on=${{ github.run_id }}/runner=2cpu-linux-x64
    steps:
      - uses: runs-on/action@v2
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Project Automation Action
        uses: caseproof/org-admin/.github/actions/project-automation@main
        with:
          issue: ${{ github.event.issue.number }}
          teams_config: ${{ vars.TEAMS_CONFIG_PATH }}
          secrets: ${{ toJson(secrets) }}
          vars: ${{ toJson(vars) }}
